#single_instructor {
  h2 {
    margin: 0;
  }
  .subtitle {
    color: #888;
    font-size: 30px;
  }

  .title_group {
    margin-bottom: 30px;
  }
  ul {
    padding: 0;

    li {
      list-style: none;
      color: #898989;
    }
  }
}
