#edu-basics {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    color: #fff;
  }

  h4 {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

.steps-buttons {
  .button {
    display: block;
    width: 100%;
    padding: 20px 10px;
    position: relative;

    i {
      font-size: 18px;
      padding-left: 20px;
      position: absolute;
      right: 25px;
      top: 23px;
    }
  }
}

.steps-buttons-title {
  color: #fff;
  margin-bottom: 30px;
}

.great-comment {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    font-size: 20px;
    color: #000;
  }
}

@media (max-width: 768px) {
  .great-comment {
    background-image: none !important;
    background-color: #333;
    p {
      color: #fff;
    }
  }
}
