.select-input {
  background-color: #111;
  border: 1px solid #252525;
  padding: 10px 15px;
  width: 100%;
  color: #fff;
  height: auto !important;
}

select:focus {
  background-color: #111 !important;
  box-shadow: none !important;
  border: 1px solid #252525 !important;
  color: #fff !important;
}
