.browse-instructors {
  background-color: #000;
  text-align: right;
}

.browse-instructors .title {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  margin: 30px 0 20px;
  line-height: 1.05;
}

.browse-instructors p {
  color: #898989;
}
