.juangil {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.quote {
  position: relative;
}

.quotebefore {
  /* color: #898989; */
  color: #fff;
  font-size: 22px;
  line-height: 1.25;
}

.quote-name {
  color: #fff;
  font-size: 32px;
  margin-top: 10px;
}
